.add_btn {
  width: 120px;
  height: 40px;
  color: orange;
  background-color: transparent;
  outline: none;
  border: 1px solid orange;
  border-radius: 3px;
  transition: all 0.5s ease-out;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  margin: 0 5px;
  
  &:hover {
    color: #212121;
    background-color: orange;
  }
}