.order_form {
  width: 300px;
  min-height: 449px;
  border: 1px solid orange;
  color: orange;
  margin-top: 20px;
  padding-top: 10px;
}

.form_title {
  font-size: 1.2rem;
  text-align: center;
  }

.form-control {
  width: 90%;
  margin: 0 auto;
  font-size: 1rem;
}

.label {
  margin: 12px 0 8px;
}

.form_field {
  width: 100%;
  height: 35px;
  border: 1px solid orange;
  border-radius: 5px;
  background-color: transparent;
  padding-left: 15px;
  font-size: 1.1rem;
  color: orange;

  &::placeholder {
    font-size: 0.7em;
    color: #ae6a32;
    opacity: 1;
    transition: opacity 300ms;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}

.error {
  color: red;
  font-weight: bold;
}

.order_button {
  display: block;
  margin: 20px auto;
  width: 130px;
  height: 40px;
  font-size: 16px;
  color: orange;
  border: 1px solid orange;
  background-color: transparent;
  cursor: pointer;



}